body {
	margin-top: 10px;
}
h2 {
	text-align: center;
}
.form {
	width: 500px;
	margin: 0 auto;
}
input {
	width: 100%;
	margin: 2px;
}
.number {
	text-align: center;
	font-size: 65px;
	font-weight: bold;
	font-family: 'Times New Roman' sans-serif;
}
